{% extends "shared/layout.html" %}
{% load staticfiles %}

{%block title%}Добро пожаловать!{%endblock title%}

{%block main_page%}class="active"{%endblock main_page%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="jumbotron">
                <h1>Привет, мир!</h1>
                <p>
                    Приглашаю всех принять участие в небольшом иследовании в рамках моей квалификационной работы.
                </p>
                <p>
                    Для этого требуется:
                    <blockquote>
                        <p>
                            <i class=" glyphicon glyphicon-pencil"></i>
                            Зарегистрироваться на сайте (соответствующие кнопочки расположины в верху справа).
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>
                            Отослать несколько сообщений другим участникам эксперимента.
                            Для этого воспользуйтесь <a href="{%url 'chat:home'%}">чатом</a> этого сайта.
                            (воспользоваться им могут только зарегистрированые пользователи)
                        </p>
                    </blockquote>
                </p>
                <p>
                    Как видите - все просто! Кому интересно, ниже можно узнать детали иследования.
                </p>
            </div>
            <div class="page-header">
                <h1>Детали эксперимента</h1>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Главная идея</div>
                <div class="panel-body">
                    Есть информация что по манере набора текста можно идентифицировать личность человека.
                    Один американский ученый даже утверждает что ему удалось создать программу способную
                    идентифицировать личность человека по тому, как он набирает текст. При этом были получены
                    очень хорошие результаты.
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">Цель иследования</div>
                <div class="panel-body">
                    В ходе моей квалификационной работы я попытаюсь написать систему способную отличать одних
                    людей от других по тому как они работают за клавиатурой. Вообще говоря такие системы уже используются
                    в учериждениях, где люди ведают государственными секретами. Я же попытаюсь сделть что-то подобное
                    в рамках дипломки.
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">Первый этап</div>
                <div class="panel-body">
                    <p>
                    На первом этапе мне нужно собрать необходимую начальную базу. Её составит информация о том, как разные
                    пользователи набирают текст. Для этого этапа и создавался этот сайт.</p>
                    <p>
                        Когда Вы будите обмениваться сообщениями, система будет собирать информацию о том какие кнопки
                        и через какие интервалы времены были нажаты при наборе сообщения.
                    </p>
                    <p>
                        Для моей работы важна только ваша манера нажимать кнопки - содержимое сообщений значения не имеет.
                        Так что можете об этом не беспокоиться, сохранены и обработаны будут только коды нажатых
                        кнопок и моменты времени когда произошло нажатие. Востановить по этой информации содержимое
                        сообщений будет очень затруднительно.
                    </p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Второй этап</div>
                <div class="panel-body">
                    <p>
                        После того как будет собрана необходимая информация, я перейду ко второму этапу.
                    </p>
                    <p>
                        На втором этапе нужно будет выявить какие критерии наиболее полно характирезуют личность.
                        Дальше, скорее всего используя алгоритмы машинного обучения, нужно будет разработать программу
                        способную отличать людей.
                    </p>
                    <p>
                        От того насколько хорошо программа будет различать людей, будет зависеть можно ли будет её  применять
                        на практике.
                    </p>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">Завершение</div>
                <div class="panel-body">
                    <p>
                        В конце иследования на этом сайте будут размещены его результаты. Чат так и продолжит своё
                        существование только сбор информации уже осуществляться не будет.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}