{% extends "shared/layout.html" %}
{% load staticfiles %}

{%block title%}Чат.{%endblock title%}

{% block head %}
    <!--SockJS-->
    <script type="text/javascript" src="{% static 'scripts/sockjs.min.js' %}"></script>

    <!--Чатик-->
    <script type="text/javascript" src="{% static 'scripts/chat.js' %}"></script>
{% endblock head %}

{%block chat_page%}class="active"{%endblock chat_page%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-5" id="left-column">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#" data-toggle="modal" data-target="#conference-creation-modal">
                        <i class="glyphicon glyphicon-comment"></i> Начать конференцию
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" data-toggle="modal" data-target="#conferences-modal">
                        <i class="glyphicon glyphicon-envelope"></i> Конференции <span class="badge" id="new-messages-count"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-7">
            <!-- Nav pills -->
            <ul class="nav nav-pills nav-justified" role="tablist" id="tabs-container">

            </ul>
            <!-- Tab panes -->
            <div class="tab-content" id="tabpanels-container">

            </div>
            <div class="input-group">
                <textarea class="form-control custom-control" rows="4" style="resize:none" placeholder="Введите сообщение . . ." id="message-send-textarea"></textarea>
                <span class="input-group-addon btn btn-dafeult" id="message-send-button">
                    <i class="glyphicon glyphicon-send"></i> Отправить
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="conference-creation-modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
                <h4 class="modal-title">Создание конференции</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" rows="3" style="resize:none" placeholder="Введите сообщение . . ." id="conference-create-textarea"></textarea>
                    <br>
                    <select class="form-control" multiple id="conference-create-multiselect" data-placeholder="Участники.">
                        {% for user in users_list %}
                        <option value="{{user.username}}">{{user.username}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="conference-create-button">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="conferences-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
                <h4 class="modal-title">Конференции</h4>
            </div>
            <div class="modal-body" id="conferences-container">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}